/* Empty. Add your own CSS if you like */
.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.capitalize {
	text-transform: capitalize;
}